
#header {
	background: #222;
}
.navbar  {
	padding:20px 0;
	margin-bottom: 0;
	border:0;
	background: #fff;
}

.texCenter {
	text-align: center;
}
.fontbold {
	font-weight:bold;
}
.mt40 {
	padding-top: 40px;
}
.footer {
	width: 100%;
	height:50px;
	text-align: center;
	background: #addc7e;
	color:#fff;
	line-height: 50px;
	overflow: hidden;
}
.tab-pane {
	min-height:200px
}

.navbar-inverse .navbar-brand {
	color:#000;
	font-size:20px;
}

.navbar-inverse .navbar-nav>li>a {
	color:#000;
	font-size:20px;
}
.bg {
	background: url(../img/bg.jpg) center top;

}



.jianjie {
	padding:60px 30px 20px;
}

.jianjie p {
	font-size: 25px;
	color:#000;
	font-weight: bold;
}

.jianjie .font30 {
	font-size:30px;
}
.pa40  {
	padding:40px 0;
}
.pa20 {
	padding:20px 0;
}
.tin2em {
 	text-indent: 2em;
}
.width_100 {
	width: 100%;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#000;
}

.comeon {
	height: 80px;
	padding:40px 0 50px 0;
	background-color: #7dc855;
	box-sizing:content-box;
	color:#fff;
	margin-top: 40px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color:#ccc;
}


/*改版*/ 
.jiazuming img {
	width: 100%;
	height: auto;
}

.pa40 {
	padding:40px 0;
}

@media (min-width:750px) {
	hr {
		display: none;
	}
	.jianjie p {
		font-size: 18px;
	}
}	
